#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.mainPage{
    flex-grow:1;
}

.slider {
  width: 80%;
  margin: 0 auto;
}


.slider .slick-slide {
  text-align: center;
}

.slider .slick-slide img {
  max-width: 100%;
  height: auto;
}